spring:
  application:
    name: remote-auth
  datasource:
    url: jdbc:postgresql://localhost:5432/remote-db
    username: postgres
    password: 5253228432

  jpa:
    #    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        store_data_at_delete: true
        default_schema: public
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

swagger-ui:
  path: /swagger-ui.html
  enabled: true
server:
  port: ${PORT:8585}

jwt:
  secret: 413F4428472B4B6250655368566D5970337336763979244226452948404D6351

